
.HelpWidgetType-new-bug-title {
    float: left;
}
.HelpWidgetType-new-bug-title   {
    float: left;
}
.HelpWidgetType-new-bug-title	{   
    float: left;   
}
    
.HelpWidgetType-new-bug-title{
    float: left;
}

/* @codingStandardsChangeSetting Squiz.WhiteSpace.SuperfluousWhitespace ignoreWhitespaceOnBlankLines true */
.HelpWidgetType-new-bug-title{
    float: left;
}
    
.HelpWidgetType-new-bug-title{
    float: left;
}
/* @codingStandardsChangeSetting Squiz.WhiteSpace.SuperfluousWhitespace ignoreWhitespaceOnBlankLines false */

