
.HelpWidgetType-new-bug-title {
    float: left;
}
.HelpWidgetType-new-bug-title   {
    float: left;
}
.HelpWidgetType-new-bug-title	{   
    float: left;   
}
.HelpWidgetType-new-bug-title{
    float: left;
}

