# top-most EditorConfig file
root = true
charset = utf-8

[*]
trim_trailing_whitespaces = true
end_of_line = lf
insert_final_newline = true
max_line_length = 85

[*.{php,inc}]
indent_style = space
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 2
