.cspell.json export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
package.xml export-ignore
phpcs.xml.dist export-ignore
phpstan.neon export-ignore
phpunit.xml.dist export-ignore
scripts/ export-ignore

# Declare files that should always have CRLF line endings on checkout.
*WinTest.inc text eol=crlf
*WinTest.php text eol=crlf
src/Standards/Generic/Tests/Files/LineEndingsUnitTest*.inc text eol=crlf
