sudo: false

language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

script:
  - bash -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php scripts/phpcs --config-set php_path php; fi;'
  - phpunit -d date.timezone=Australia/Sydney tests/AllTests.php
  - php scripts/phpcs CodeSniffer.php CodeSniffer --standard=PHPCS --report=summary -np
  - bash -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then pear package-validate package.xml; fi;'
  - bash -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php scripts/build-phar.php; fi;'
  - bash -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php phpcs.phar CodeSniffer.php CodeSniffer --standard=PHPCS --report=summary -np; fi;'
