parameters:
    level: 0
    paths:
        - src
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        -
            count: 1
            message: '~^Undefined variable: \$phpCodeSnifferConfig$~'
            path: %currentWorkingDirectory%/src/Config.php

    dynamicConstantNames:
        - PHP_CODESNIFFER_IN_TESTS
        - PHP_CODESNIFFER_CBF
        - PHP_CODESNIFFER_VERBOSITY
