<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true">

	<testsuites>
        <testsuite name="PHP_CodeSniffer Test Suite">
            <file>tests/AllTests.php</file>
        </testsuite>
	</testsuites>

	<!--<logging>
		<log type="coverage-html" target="build/coverage" title="BankAccount"
			 charset="UTF-8" yui="true" highlight="true"
			 lowUpperBound="35" highLowerBound="70"/>
	</logging>-->

	<filter>
		<whitelist>
			<directory>CodeSniffer/Standards</directory>
            <exclude>
                <directory suffix="UnitTest.php">CodeSniffer/Standards</directory>
            </exclude>
		</whitelist>
	</filter>
</phpunit>
