<?xml version="1.0"?>
<phpunit verbose="true">
	<logging>
		<log type="coverage-html" target="build/coverage" title="PHP_CodeSniffer" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</php>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" title="PHP_CodeSniffer"/>
	</logging>
	<filter>
		<blacklist>
			<directory suffix=".php">/usr/share/php</directory>
			<directory suffix=".php">tests/unit/</directory>
		</blacklist>
	</filter>
	<testsuites>
		<testsuite>
			<directory>tests</directory>
			<file>*Test.php</file>
		</testsuite>
	</testsuites>
</phpunit>
