<?xml version="1.0" encoding="UTF-8"?>
<phpunit beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="PHP_CodeSniffer Test Suite">
            <file>tests/AllTests.php</file>
        </testsuite>
        <testsuite name="End2End">
            <directory suffix=".phpt">tests/EndToEnd/</directory>
            <exclude>tests/EndToEnd/Fixtures</exclude>
        </testsuite>
    </testsuites>
</phpunit>
