<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    convertErrorsToExceptions="true"
    syntaxCheck="true"
    verbose="true"
>
    <testsuites>
        <testsuite>
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
