/* CSS Document */

body {
font-family: Arial, Helvetica, sans-serif;
margin  :  40px 0 0 0;
padding :  0;
/*background: #8FB7DB url(login_glow_bg.jpg) no-repeat 30% 0;*/
background: #8FB7DB url(diag_lines_bg.gif) top left;
}

#login-container {
    margin-left: -225px;
    margin-top: -161px;
    position:absolute;
    top  :50%;
    /*left :50%;*/
    width:450px;
}

#cacheConfig-dayLabel, #cacheConfig-hourLabel, #cacheConfig-minuteLabel {
    float: left;
    padding-right: 8px;
}
