.HelpWidgetType-new-bug-title {
    float: left;
}
.HelpWidgetType-new-bug-title   {
    float: left;
}
.HelpWidgetType-new-bug-title	{
    float: left;
}
.HelpWidgetType-new-bug-title{
    float: left;
}
.HelpWidgetType-new-bug-title {

    float: left;
}

@media screen and (max-device-width: 769px) {

    header #logo img {
        max-width: 100%;
    }

}

@media screen and (max-device-width: 769px) {
    header #logo img {
        max-width: 100%;
    }

}

@media screen and (max-device-width: 769px) {

    

    header #logo img {
        max-width: 100%;
    }

}

.GUITextBox.container:after {}
