.AssetLineageWidgetType-item {
    color: #FFF;
}

.AssetLineageWidgetType-title {
    color: #CCC;
}

.AssetLineageWidgetType-item {
    color: #CCC;
}

.AssetLineageWidgetType-item .selected {
}

.AssetLineageWidgetType-item.selected {
}

#Blah .AssetLineageWidgetType-item {
}

#X.selected,
.AssetLineageWidgetType-item {
}

.MyClass, .YourClass {
}

.YourClass, .MyClass {
}

.YourClass, .MyClass, .OurClass {
}


.ClassAtTopOfMediaBlock {
}

@media print {
    .ClassAtTopOfMediaBlock {
    }

    .ClassInMultipleMediaBlocks {
    }
}

.ClassNotAtTopOfMediaBlock {
}

@media handheld {
    .SameClassInMediaBlock {
    }

    .ClassNotAtTopOfMediaBlock {
    }

    .SameClassInMediaBlock {
    }
}

@media braille {
    .PlaceholderClass {
    }

    .ClassNotAtTopOfMediaBlock {
    }

    .ClassInMultipleMediaBlocks {
    }
}

.foo /* any comment */
{ color: red; }
