.my-style {
    margin-right 15px;
    float: left;
    margin-left 15px;
    margin-top: 15px;
    margin-bottom 15px;
}

@media screen and (max-device-width: 769px) {
    header #logo img {
        max-width: 100%;
        margin-bottom 15px;
    }
}

#foo { background-color: #FF0000;
}

/* Live coding. Has to be the last test in the file. */
.intentional-parse-error {
	float
