.my-style {
}


.my-style {
}

/* Comment */

.my-style {
}


/* Comment */

.my-style {
    float: left;

}

.AssetLineageWidgetType-item {
    color: #CCC;
}

/*.AssetLineageWidgetType-item2 .selected,
.AssetLineageWidgetType-item .selected {
}*/

.AssetLineageWidgetType-item.selected {
}

@media screen and (max-device-width: 769px) {

    header #logo img {
        max-width: 100%;
    }

}

@media screen and (max-device-width: 769px) {

    header #logo img {
        max-width: 100%;
    }
}
