.AssetListingEditWidgetType-BottomPanel select,
#EditEditingModeWidgetType-assetEditor-filters-assetTypes-addNew {
    float: left;
}

.AssetListingEditWidgetType-BottomPanel select,

#EditEditingModeWidgetType-assetEditor-filters-assetTypes-addNew {
    float: left;
}

.AssetListingEditWidgetType-BottomPanel select,
/*.AssetListingEditWidgetType-BottomPanel ul,*/
#EditEditingModeWidgetType-assetEditor-filters-assetTypes-addNew {
    float: left;
}

.AssetListingEditWidgetType-BottomPanel select,

.AssetListingEditWidgetType-BottomPanel ul,
#EditEditingModeWidgetType-assetEditor-filters-assetTypes-addNew {
    float: left;
}
