.HelpWidgetType-new-bug-title {
    width: 308px
    float: left;
}

#MetadataAdminScreen-addField-add {
    float: left ;
}

.TableWidgetType .recover:hover {
    background-color: #FFF;
}

#clearCache-settings:rootNodes-list_0 {
    border-top: none;
}

.HelpWidgetType-list {
    list-style-image: url();
}
