<html>
<head>
    <title>((title))</title>
    <link rel="stylesheet" type="text/css" href="((assetPath))_assets/styles.css" />
    <script src="((assetPath))_assets/Chart.min.js"></script>
</head>
<body>
<div class="intro">
((intro))
</div>
((html))
<div class="footer">((footer))</div>
<script>
((js))
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-359178-18', 'squizlabs.github.io');
    ga('send', 'pageview');
</script>
</body>
</html>

<!--
var c = document.getElementById("chart1tspaces").getContext("2d");
var data = {
  labels : ["","","","","","",""],
  datasets : [
    {
      strokeColor : "#4D5360",
      data : [52.48,51.48,50.48,51.48,50.48,52.48,53.48]
    },
    {
      strokeColor : "#D4CCC5",
      data : [47.52,47.37,45.52,44.01,44.56,47.52,47.52]
    }
  ]
}
new Chart(c).Line(data,options);
-->