body {
    font-family: verdana;
    font-size: 14px;
    background-color: #efefef
}

h2 {
    width: 800px;
    position: relative;
    left: 50%;
    margin-left: -375px;
}

.metric {
    width: 800px;
    height: 500px;
    position: relative;
    left: 50%;
    margin-left: -400px;
    margin-bottom: 60px;
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.chart-value {
    position: absolute;
    top: 100px;
    left: 30px;
}

.chart-repo {
    position: absolute;
    top: 180px;
    left: 110px;
}

.chart-data {
    position: absolute;
    top: 100px;
    left: 460px;
}

.repo-data {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 410px;
    height: 405px;
    overflow: auto;
    border-radius: 0px 0px 0px 10px;
    border: 1px solid #ccc;
    background: #fff;
    display: none;
    padding-left: 15px;
}

.repo-data a {
    color: #000;
    text-decoration: none;
}

.repo-data a:hover {
    text-decoration: underline;
}

.repo-data ul {
    list-style: none;
    padding-left: 5px;
}

.repo-data .close {
    position: relative;
    top: 0px;
    left: 390px;
    margin-right: 10px;
    font-size: 12px;
}

.repo-data .close:hover {
    text-decoration: underline;
    cursor: pointer;
}

.repo-data p {
    margin-left: -45px;
}


.colour-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 15px;
    vertical-align: middle;
}

table {
    margin-bottom: 20px;
}

tr th, td
{
    text-align: left;
    padding: 5px;
}

.preferred {
    font-size: 12px;
    padding: 0px 0px 15px 0px;
}

.preferred:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.footer a {
    color: #000;
}