body {
    font-family: verdana;
    font-size: 14px;
}

.metric {
    width: 800px;
    height: 500px;
    position: relative;
    left: 50%;
    margin-left: -400px;
}

.chart-value {
    position: absolute;
    top: 100px;
    left: 0px;
}

.chart-repo {
    position: absolute;
    top: 180px;
    left: 80px;
}

.chart-data {
    position: absolute;
    top: 120px;
    left: 450px;

}

.colour-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 1em;
    vertical-align: middle;
}

tr th, td
{
    text-align: left;
    padding: 5px;
}

.preferred {
    font-size: 12px;
    padding: 0px 0px 15px 0px;
}