
.HelpWidgetType-new-bug-title {
    float: left;
}
.HelpWidgetType-new-bug-title   {
    float: left;
}
.HelpWidgetType-new-bug-title	{   
    float: left;   
}
    
.HelpWidgetType-new-bug-title{
    float: left;
}

/* phpcs:set Squiz.WhiteSpace.SuperfluousWhitespace ignoreBlankLines true */
.HelpWidgetType-new-bug-title{
    float: left;
}
    
.HelpWidgetType-new-bug-title{
    float: left;
}
/* phpcs:set Squiz.WhiteSpace.SuperfluousWhitespace ignoreBlankLines false */

// /**
//  * This text is in two types of comment: each line is commented out
//  * individually, and the whole block is in what looks like a
//  * docblock-comment. This sniff should ignore all this text as there
//  * is no superfluous white-space here.
//  */

